.maincol {
	margin-top: 15%;
}

#holder { 
	border: 0.5rem dashed #ccc; 
	width: 100%; 
	margin: 20px auto;
}

#innerLiner {
	width:100%;
	margin-top:2rem;
	margin:none;
	padding:none;
	text-align:center;
	font-size: 11px;
	font-weight: 600;
	letter-spacing: 0.3rem;
	text-transform: uppercase;
}

#holder.hover { 
	border: 0.5rem dashed #33C3F0; 
}

.hidden { 
	display: none !important;
}

#errorbox {
	background: #ffb3b3 none repeat scroll 0% 0%;
	text-align: center;
	border-radius: 4px;
	font-size: 1rem;
	text-transform: uppercase;
	height: 30px;
	line-height: 30px;
	margin-bottom: 0.75rem;
	font-weight: 600;
	letter-spacing: 0.1rem;
	display:none;
}

#outbox {
	background: #F1F1F1 none repeat scroll 0% 0%;
	border-radius: 4px;
	border: 1px solid #E1E1E1;
	line-height: 25px;
	margin-bottom: 0.75rem;
	font-weight: 600;
	letter-spacing: 0.1rem;
	height:20rem;
	width:100%;
	overflow-y: scroll;
}

#inoutbox {
	padding-left:1rem;
	padding-right:1rem;
	margin-top:.8rem;
}

#indiv {
	display:inline;
}

#outdiv {
	display:none;
}

#outbox {
	pointer-events: none;
}

footer {
	background: none repeat scroll 0 0 #33C3F0;
	position:absolute;
	bottom:0px;
	color: #fff;
	font-size: 1.2rem;
	padding-bottom: .5rem;
	padding-top: .8rem;
	width: 100%;
	clear: both;
}

footer a {
	color:#fff;
	text-decoration:none;
	transition: font-weight 0.2s;
}

footer a:hover {
	color:#fff;
	font-weight: bold;
}

#footerleft {
	float:left;
	padding-left:1rem;
}

#footerright {
	float:right;
	padding-right:1rem;
}

#doninfo {
	text-align:center;
	margin-top:-1rem;
}

#bitAdr {
	font-family: monospace;
}

#textContainer {
	width:100%;
	height:30rem;
	background: #F1F1F1 none repeat scroll 0% 0%;
	border-radius: 4px;
	border: 1px solid #E1E1E1;
	line-height: 25px;
	margin-bottom: 0.75rem;
	font-weight: 600;
	letter-spacing: 0.1rem;
	overflow-y: scroll;
}

#stopResumeContainer {
	text-align:center;
	padding-top:0.3rem;
}

#stopResumeContainer input {
	margin-left:1rem;
	margin-right:1rem;
	margin-bottom:0rem;
}

.spinner {
	margin-left: 6em;
	height: .5em;
	width: .5em;
	animation: rotate 0.8s infinite linear;
	border: 8px solid #33C3F0;
	border-right-color: transparent;
	border-radius: 50%;
}

@keyframes rotate {
	0%    { transform: rotate(0deg); }
	100%  { transform: rotate(360deg); }
}